:host {
  display: block;
  height: 100%;
}

.image-wrapper {
  width: 100%;
  position: relative;
  border-radius: calc(var(--tui-radius-xl) - 1rem);
  overflow: hidden;

  &::before {
    content: '';
    padding-top: 100%;
    display: block;
  }
}

.island {
  overflow: hidden;
  height: 100%;
}

.title {
  min-width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
