@import 'shared';

@mixin horizontal-view {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .image-wrapper {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    .title {
      margin: 0;
    }

    ::ng-deep [text-content] {
      margin: 0;
    }
  }
}

@mixin vertical-view {
  display: flex;
  flex-direction: column;

  .image-wrapper {
    width: 100%;

    &::before {
      content: '';
      padding-top: 100%;
      display: block;
    }
  }

  .content {
    .title {
      min-width: 100%;
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

:host {
  display: block;
  height: 100%;
}

.island {
  overflow: hidden;
  height: 100%;

  .image-wrapper {
    position: relative;
    border-radius: calc(var(--tui-radius-xl) - 1rem);
    overflow: hidden;
  }

  &.vertical {
    @include vertical-view();
  }

  &.horizontal {
    @include horizontal-view();

    @media #{$tui-mobile} {
      @include vertical-view();

      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .image-wrapper {
        width: 10rem;
        height: 10rem;

        &::before {
          padding: 0;
        }
      }
    }
  }
}
