<tui-island
  class="island"
  tuiIsland
  [hoverable]="hoverable"
  [ngClass]="{ horizontal: view === 'horizontal', vertical: view === 'vertical', fixedImageSize }"
>
  <div class="image-container">
    <div class="image-wrapper">
      <ng-content select="[image]"></ng-content>
    </div>
  </div>

  <div class="content">
    <h4 class="title">{{ title }}</h4>
    <ng-content select="[image]"></ng-content>

    <div class="text-content">
      <ng-content select="[text-content]"></ng-content>
    </div>
  </div>
</tui-island>
