@import 'shared';

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.5rem;
  h2 {
    margin: 0;
  }
}

.toggle-view-button {
  @media #{$tui-mobile} {
    display: none;
  }
}

app-user-grid {
  margin-top: 1rem;
}
