<div class="wrapper tui-space_top-5">
  <div class="comments-list">
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
    <app-comment></app-comment>
  </div>

  <app-send-comment-form></app-send-comment-form>
</div>
