@import 'shared';

h1 {
  text-align: center;
}

.collections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collections tui-checkbox-block {
  app-collection {
    width: 100% !important;
    ::ng-deep tui-island {
      background: none !important;
    }
  }

  ::ng-deep {
    .t-content {
      width: 100%;
    }
    label.t-wrapper {
      padding: 0 !important;
    }
  }
}

app-collection {
  width: 100%;
}

.next-container {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  .continue-button {
    box-shadow: var(--tui-shadow);
  }

  @media #{$tui-mobile} {
    a {
      width: 100%;
    }
    bottom: 0;
  }
}

.empty-placeholder {
  height: 12rem;
  color: var(--tui-text-02);
}
