<h1 class="tui-text_h1">Выберите коллекции для объединения</h1>

<form
  (submit)="handleFormSubmit()"
  [formGroup]="form"
  id="collections-to-combine-form"
  class="collections"
>
  <tui-checkbox-block
    *ngFor="let c of collections()"
    [formControlName]="c.id.toString()"
    size="l"
    [hideCheckbox]="true"
  >
    <app-collection [collection]="c"></app-collection>
  </tui-checkbox-block>

  <tui-island *ngIf="collections()?.length === 0" class="empty-placeholder"
    >Нет доступных коллекций</tui-island
  >

  <app-collection *ngIf="loadingCollections()" view="horizontal"></app-collection>
</form>

<app-intersection-loader
  [loadMoreKey]="loadKey()"
  (loadMore)="loadCollections(loadKey())"
></app-intersection-loader>

<div *ngIf="isSelectedAnyCollection" class="next-container">
  <button class="continue-button" type="submit" form="collections-to-combine-form" tuiButton>
    Продолжить
  </button>
</div>
