<app-collection-form
  (collectionSubmit)="editCollection($event)"
  [collection]="existingCollection"
  submutButtonText="Обновить"
  class="tui-space_top-5"
  [isFormSubmitting]="isLoading()"
  [removeIsPrivate]="isPersonal"
  [disableSubmit]="isDeleting()"
>
  <button
    *ngIf="!isPersonal"
    (click)="deleteCollection()"
    type="button"
    class="delete-button tui-space_top-5"
    size="m"
    tuiButton
    appearance="secondary-destructive"
    [disabled]="isDeleting()"
    [showLoader]="isDeleting()"
  >
    Удалить
  </button>
</app-collection-form>
