<div class="wrapper">
  <h1 class="tui-text_h1">Вход</h1>

  <div class="form">
    <div class="tui-form__row">
      <tui-input>
        Имя пользователя
        <input tuiTextfield />
      </tui-input>
    </div>

    <div class="tui-form__row">
      <tui-input>
        Пароль
        <input tuiTextfield />
      </tui-input>
    </div>

    <div class="tui-form__buttons">
      <button tuiButton type="button">Войти</button>
    </div>

    <p class="not-registered">
      Еще нет аккаунта?
      <a routerLink="/auth/register" tuiLink>Зарегистрироваться</a>
    </p>
  </div>
</div>
