.film-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .image {
    width: 4rem;
    aspect-ratio: 27/40;
    position: relative;
    flex-shrink: 0;
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    tui-tag {
      align-self: flex-start;
    }
    h6 {
      margin: 0;
    }
  }
}

button.submit-button {
  width: 100%;
}
