.gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(330deg, #bb8e6e, #c72e78);
}

.create-collection-button {
  display: block;
  overflow: hidden;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .search-input {
    flex-grow: 2;
  }
}
