.img-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.notification {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;

  p {
    margin: 0;
  }

  &__content {
    display: flex;
    align-items: center;
  }
}

.go-button {
  margin-left: auto;
}
