<tui-island class="notification">
  <a routerLink="/profile/1">
    <div class="img-wrapper">
      <img
        ngSrc="https://moofy.storage.yandexcloud.net/profile-images/be3b783c-3ab6-48f2-864d-3b81bd9612fd.webp"
        fill
      />
    </div>
  </a>

  <div class="notification__content">
    <p>
      <a routerLink="/profile/1" tuiLink>reversoid </a>

      @switch (notification.type) {
        @case ('COLLECTION_LIKE') {
          нравится ваша коллекция
        }
        @case ('COMMENT_LIKE') {
          нравится ваш комментарий
        }
        @case ('NEW_COMMENT') {
          добавил комментарий
        }
        @case ('NEW_FOLLOWER') {
          подписался на вас
        }
        @case ('NEW_REPLY') {
          ответил на комментарий
        }
      }
    </p>
  </div>

  <button appearance="flat" class="go-button" tuiIconButton icon="tuiIconArrowRightLarge"></button>
</tui-island>
