<tui-island class="notification">
  <a [routerLink]="['profile', user.id]">
    <div class="img-wrapper">
      <img *ngIf="user.imageUrl as imageUrl; else noImage" [ngSrc]="imageUrl" fill />
      <ng-template #noImage>
        <tui-svg src="tuiIconUserLarge"></tui-svg>
      </ng-template>
    </div>
  </a>

  <div class="notification__content">
    <p>
      <a [routerLink]="['profile', user.id]" tuiLink
        ><b>{{ user.username }}</b>
      </a>

      @switch (notification.type) {
        @case ('COLLECTION_LIKE') {
          нравится ваша <a [routerLink]="collectionLink" tuiLink>коллекция</a>
        }
        @case ('COMMENT_LIKE') {
          нравится ваш <a [routerLink]="commentLink" tuiLink>комментарий</a>
        }
        @case ('NEW_COMMENT') {
          добавил(-а) <a [routerLink]="commentLink" tuiLink>комментарий</a>
        }
        @case ('NEW_FOLLOWER') {
          подписался(-aсь) на вас
        }
        @case ('NEW_REPLY') {
          ответил(-а) на <a [routerLink]="commentLink" tuiLink>комментарий</a>
        }
      }
    </p>
  </div>

  <button
    appearance="secondary"
    class="go-button"
    tuiIconButton
    icon="tuiIconArrowRightLarge"
  ></button>
</tui-island>
