.blocks-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.date-island {
  .date-updated {
    font-weight: bold;
    margin: 0;
    color: var(--tui-text-02);
  }
  padding: 1rem;
}

tui-island {
  padding: 0.5rem;
}

.creator {
  margin-top: 0.75rem;
  display: flex;
  gap: 1rem;

  .creator-image-wrapper {
    position: relative;
    flex-shrink: 0;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .creator-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .creator-name {
      margin: 0;
    }

    .creator-description {
      margin: 0;
      color: var(--tui-text-02);
    }
  }
}

.image-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: var(--tui-radius-m);
  overflow: hidden;
}

.open-image-button {
  height: auto;

  ::ng-deep .t-wrapper {
    padding: 0 !important;
  }
}
