@import 'shared';

.image-wrapper {
  width: 6rem;
  height: 6rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

@mixin description-wrapper-default {
  flex-grow: 2;

  width: 100%;
  background-color: var(--tui-elevation-01) !important;

  .description {
    margin: 0;
    color: var(--tui-text-02);
  }
}

.description-wrapper {
  @include description-wrapper-default();
}

.user-content {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  gap: 0.5rem;
}

.vertical {
  .description-wrapper {
    margin-top: 0.25rem;
  }
}

.horizontal {
  .description-wrapper {
    padding: 0;
    background: none !important;

    @media #{$tui-mobile} {
      padding: 1rem;
      @include description-wrapper-default();
    }
  }
}
