<app-card [ngClass]="view" [view]="view">
  <a image tuiLink [routerLink]="['/profile', user.id]">
    <div class="image-wrapper">
      <img *ngIf="user.imageUrl; else noImage" [ngSrc]="user.imageUrl" fill />
      <ng-template #noImage>
        <div class="image-placeholder">
          <tui-svg src="tuiIconUserLarge"></tui-svg>
        </div>
      </ng-template>
    </div>
  </a>

  <h4 class="username title" title>{{ user.username }}</h4>

  <div content class="user-content">
    <tui-island class="description-wrapper">
      <p class="description">
        {{ user.description }}
      </p>
    </tui-island>
  </div>

  <ng-content action></ng-content>
</app-card>
