.film {
  display: flex;
  flex-direction: column;

  .image-wrapper {
    width: 3rem;
    height: 4.5rem;
    background-color: black;
  }
}

.score {
  color: #faaf00;
  --tui-rating-size: 2.75rem;
  --tui-rating-gap: 1rem;
  --tui-icon-size: 10rem;
  display: block;
}
