<tui-elastic-container class="tui-space_top-5">
  <tui-input
    *tuiLet="films$ | async as films"
    [tuiTextfieldLabelOutside]="true"
    tuiTextfieldIconLeft="tuiIconSearchLarge"
    [tuiTextfieldCleaner]="true"
  >
    Название
    <input tuiTextfield role="search" tuiTextfield />
    <ng-container *ngIf="films?.length">
      <tui-data-list *tuiDataList>
        <button *ngFor="let film of films" (click)="select(film)" tuiOption [value]="film.name">
          {{ film.name }}
        </button>
      </tui-data-list>
    </ng-container>
  </tui-input>

  <ng-container *ngIf="film">
    <div class="film tui-space_top-5">
      <div class="image-wrapper">
        <img ngSrc="https://kinopoiskapiunofficial.tech/images/posters/kp_small/7147.jpg" fill />
      </div>
      <h6 class="title tui-text_h6">Some name</h6>
      <tui-tag value="2023"></tui-tag>
    </div>

    <tui-rating class="score tui-space_top-5" [max]="5"></tui-rating>

    <tui-textarea
      [tuiTextfieldLabelOutside]="true"
      formControlName="testValue1"
      class="tui-space_top-5"
    >
      Описание
    </tui-textarea>
  </ng-container>

  <button
    (click)="createReview()"
    [disabled]="!film"
    class="submit-button tui-space_top-5"
    tuiButton
  >
    Добавить
  </button>
</tui-elastic-container>
