:host {
  display: block;
}

.image-wrapper {
  width: 100%;
  position: relative;
  border-radius: calc(var(--tui-radius-xl) - 1rem);
  overflow: hidden;

  &::before {
    content: "";
    padding-top: 100%;
    display: block;
  }
}

.island {
  //   padding: 0;
  overflow: hidden;
}

.title {
  margin-bottom: 0;
}
