<app-card [ngClass]="view" [view]="view">
  <div image class="image-wrapper">
    <img *ngIf="collection.imageUrl; else colorBlock" fill [ngSrc]="collection.imageUrl" />

    <ng-template #colorBlock>
      <div class="color-block" [style]="hashBackgroundStyle"></div>
    </ng-template>
  </div>

  <div title class="title-wrapper">
    <h4 class="title">{{ collection.name }}</h4>

    <tui-svg *ngIf="!collection.isPublic" [tuiHint]="lockTooltip" src="tuiIconLock"></tui-svg>
    <ng-template #lockTooltip>Это приватная коллекция</ng-template>
  </div>

  <p *ngIf="!hideDescription" class="description" content>{{ collection.description }}</p>
</app-card>
