tui-island.collection-image {
  .image-wrapper {
    width: 4rem;
    height: 4rem;
    position: relative;

    img {
      border-radius: calc(var(--tui-radius-xl) - 1rem);
    }

    .empty-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--tui-text-01);
    }
  }
}
