<h1 class="title tui-text_h1">Создавай коллекции фильмов</h1>

<div class="join">
  <button tuiButton>Присоединиться</button>
</div>

<h2 class="block-title tui-text_h3">Пользуйся для себя</h2>
<p class="description">Веди учет просмотренных фильмов</p>

<h2 class="block-title tui-text_h3">Открывай новое</h2>
<p class="description">Изучай подборки фильмов других пользователей</p>

<h2 class="block-title tui-text_h3">Выражай свое мнение</h2>
<p class="description">Создавай короткие рецензии к фильмам</p>
