@import 'shared';

.title {
  text-align: center;
  margin-top: 2rem;
}

.join {
  margin-top: 3rem;
  display: flex;
  justify-content: center;

  button {
    @media #{$tui-mobile} {
      width: 100%;
    }
  }
}

.blocks {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  justify-content: center;

  .block {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
    // background-color: green;
    border-radius: 2rem;
  }
}
