<h1 class="tui-text_h1">Мой топ топчииик!</h1>

<div class="collection-info-grid">
  <app-description-island></app-description-island>
  <app-creator-island></app-creator-island>

  <div class="metadata-grid">
    <app-updated-island></app-updated-island>
    <app-image-island></app-image-island>
  </div>

  <app-stats-island></app-stats-island>
</div>

<button
  (click)="showInfoAboutCollection()"
  class="about-collection tui-space_top-4"
  tuiButton
  appearance="secondary"
>
  О коллекции
</button>

<div class="reviews-title">
  <h3 class="tui-text_h3">Фильмы</h3>
  <button
    (click)="createReview()"
    tuiIconButton
    icon="tuiIconPlusLarge"
    appearance="secondary"
  ></button>
</div>

<tui-input
  [tuiTextfieldLabelOutside]="true"
  class="search-input tui-space_bottom-5"
  tuiTextfieldIconLeft="tuiIconSearchLarge"
  [tuiTextfieldCleaner]="true"
  [formControl]="search"
>
  Поиск
  <input tuiTextfield role="search" />
</tui-input>

<app-review-list></app-review-list>
