.collection-info-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

tui-island.description {
  grid-row: span 2;
}

tui-island.creator {
  .some-figure {
    width: 3rem;
    height: 3rem;
    position: relative;

    img {
      border-radius: 100%;
    }
  }
}

tui-island.stats {
  grid-column: 2;

  .controls {
    gap: 0.5rem;
    display: flex;

    .control-with-number {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      font-weight: 700;

      p {
        margin: 0;
        color: var(--tui-text-02);
      }
    }
  }
}

tui-island {
  background-color: var(--tui-base-02);
}

.review {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .review-title {
    margin: 0;
  }

  .image-wrapper {
    height: 10rem;
    position: relative;
    width: 6.75rem;

    img {
      border-radius: calc(var(--tui-radius-xl) - 1rem);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .heading {
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .description {
      color: var(--tui-text-02);
      margin: 0;
    }
  }
}
