.collection-info-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

tui-island.creator {
  //   grid-row: 0 2;
  .some-figure {
    width: 3rem;
    height: 3rem;
    position: relative;

    img {
      border-radius: 100%;
    }
  }
}

tui-island.stats {
  grid-column: 2;

  .controls {
    gap: 0.5rem;
    display: flex;

    .control-with-number {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      font-weight: 700;

      p {
        margin: 0;
        color: var(--tui-text-02);
      }
    }
  }
}

tui-island {
  background-color: var(--tui-base-02);
}
