<div class="profile-header">
  <div class="image-wrapper">
    <img
      ngSrc="https://moofy.storage.yandexcloud.net/list-images/75f8e535-2e34-4f8b-8148-fccba89471d1.webp"
      fill
    />
  </div>

  <h1 class="username tui-text_h2">floppa</h1>

  <div class="profile-info-grid">
    <tui-island class="description">
      <h4 class="tui-island__title">Описание</h4>
      <p class="tui-island__paragraph">Добро пожаловать на наш сайт друзья!</p>
    </tui-island>

    <a routerLink="/" tuiIsland [hoverable]="true" class="followees">
      <div class="island-content">
        <h4 class="island-title">Подписки</h4>
        <p class="island-value">123</p>
      </div>
    </a>

    <a routerLink="/" tuiIsland [hoverable]="true" class="followers">
      <div class="island-content">
        <h4 class="island-title">Подписчики</h4>
        <p class="island-value">123</p>
      </div>
    </a>

    <a routerLink="/" tuiIsland [hoverable]="true" class="reviews">
      <div class="island-content">
        <h4 class="island-title">Обзоры</h4>
        <p class="island-value">341</p>
      </div>
    </a>

    <tui-island class="register-date">
      <div class="island-content">
        <h4 class="island-title">Дата регистрации</h4>
        <p class="island-value">12.01.2024</p>
      </div>
    </tui-island>

    <tui-island class="actions">
      <div class="actions-buttons">
        <button (click)="follow()" class="follow-button" tuiButton>Подписаться</button>
      </div>
    </tui-island>
  </div>
</div>

<h3 class="collections-title tui-text_h3">Коллекции</h3>
<app-collection-grid></app-collection-grid>
