@import 'shared';

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .image-wrapper {
    width: 7rem;
    height: 7rem;
    position: relative;

    img {
      border-radius: 50%;
    }
  }
}

.profile-info-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  width: min(100%, 800px);
  gap: 1rem;

  @media #{$tui-mobile} {
    gap: 0.75rem;
    grid-template-columns: 1fr 1fr;
  }

  .description {
    grid-row: span 2;
    grid-column: span 2;

    @media #{$tui-mobile} {
      grid-row: 1;
      grid-column: span 2;
    }
  }

  .followees {
    grid-column: 3;

    @media #{$tui-mobile} {
      grid-row: 2;
      grid-column: 1;
    }
  }
  .followers {
    grid-column: 3;

    @media #{$tui-mobile} {
      grid-row: 2;
      grid-column: 2;
    }
  }
  .reviews {
    grid-column: 3;
    @media #{$tui-mobile} {
      grid-row: 3;
      grid-column: 2;
    }
  }
  .register-date {
    grid-row: 3;
    @media #{$tui-mobile} {
      grid-row: 3;
      grid-column: 1;
    }
  }
  .actions {
    grid-row: 3;

    .actions-buttons {
      .follow-button {
        width: 100%;
      }
    }
    @media #{$tui-mobile} {
      grid-row: 4;
      grid-column: span 2;
    }
  }

  .island-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 100%;
    justify-content: space-between;

    .island-title {
      font: var(--tui-font-text-l);
      margin: 0;
      font-weight: 600;
      color: var(--tui-text-02);
      line-height: 1.15;
    }

    .island-value {
      margin: 0;

      font: var(--tui-font-heading-6);
      line-height: 1;
    }
  }
}

.collections-title {
  margin-block-start: 2rem;
}
