<h1 class="tui-text_h1">Подтверждение</h1>

<div class="cards-grid">
  <tui-island>
    <h3 class="tui-text_h4">Способ создания коллекции</h3>
    <p>Коллекция будет создана с помощью объединения уже существующих коллекций.</p>
  </tui-island>

  <tui-island>
    <h3 class="tui-text_h4">Обзоры</h3>
    <p>Обзоры с оценкой и описанием будут перенесены.</p>
  </tui-island>

  <tui-island>
    <h3 class="tui-text_h4">Действие с коллекциями</h3>
    <p>После объединения коллекции будут удалены.</p>
  </tui-island>
</div>

<button (click)="handleConfirm()" [showLoader]="loading()" tuiButton>Создать</button>
