<tui-island class="stats">
  <div class="controls">
    <div class="control-with-number">
      <button (click)="handleLike()" tuiIconButton icon="tuiIconHeartLarge"></button>
      <p>123</p>
    </div>
    <div class="control-with-number">
      <button
        (click)="openCommentsDialog()"
        tuiIconButton
        icon="tuiIconMessageCircleLarge"
      ></button>
      <p>1234</p>
    </div>
    <div class="control-with-number">
      <button (click)="handleBookmark()" tuiIconButton icon="tuiIconBookmarkLarge"></button>
      <p>17</p>
    </div>
  </div>
</tui-island>
