<tui-island class="stats">
  <div class="controls">
    <div class="control-with-number">
      <tui-checkbox-block class="action-checkbox" [formControl]="likeControl" [hideCheckbox]="true">
        <tui-svg src="tuiIconHeartLarge"></tui-svg>
      </tui-checkbox-block>
      <p>{{ stats?.likesAmount }}</p>
    </div>
    <div class="control-with-number">
      <button
        (click)="openCommentsDialog()"
        tuiIconButton
        icon="tuiIconMessageCircleLarge"
      ></button>
      <p>{{ stats?.commentsAmount }}</p>
    </div>
    <div>
      <tui-checkbox-block
        class="action-checkbox"
        [formControl]="bookmarkControl"
        [hideCheckbox]="true"
      >
        <tui-svg src="tuiIconBookmarkLarge"></tui-svg>
      </tui-checkbox-block>
    </div>
    <button
      (click)="openOptions()"
      tuiIconButton
      icon="tuiIconSettingsLarge"
      appearance="secondary"
    ></button>
  </div>
</tui-island>
