<tui-island class="stats">
  <div class="controls">
    <div class="control-with-number">
      <button (click)="handleLike()" tuiIconButton icon="tuiIconHeartLarge"></button>
      <p>{{ stats?.likesAmount }}</p>
    </div>
    <div class="control-with-number">
      <button
        (click)="openCommentsDialog()"
        tuiIconButton
        icon="tuiIconMessageCircleLarge"
      ></button>
      <p>{{ stats?.commentsAmount }}</p>
    </div>
    <div>
      <button (click)="handleBookmark()" tuiIconButton icon="tuiIconBookmarkLarge"></button>
    </div>
    <button
      (click)="openOptions()"
      tuiIconButton
      icon="tuiIconSettingsLarge"
      appearance="secondary"
    ></button>
  </div>
</tui-island>
