@import 'shared';

:host {
  display: block;
}

.user-grid {
  display: grid;
  @include grid-gap;

  &.list {
    grid-template-columns: 1fr;
  }

  &.grid {
    @include grid;
  }
}

.loader {
  margin-top: 2rem;
}
