@import 'shared';

:host {
  display: block;
}

.user-grid {
  display: flex;
  flex-direction: column;
  @include grid-gap;
}

.loader {
  margin-top: 2rem;
}

app-follow-button {
  align-self: center;
  @media #{$tui-mobile} {
    width: 100%;
  }
}

.not-found-placeholder {
  height: 8rem;
  color: var(--tui-text-02);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
}
