@import 'shared';

:host {
  display: block;
}

.user-grid {
  display: grid;
  @include grid-gap;

  &.list {
    grid-template-columns: 1fr;
  }

  &.grid {
    @include grid;
    @media #{$tui-mobile} {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}

.loader {
  margin-top: 2rem;
}

.user-grid.list {
  button {
    align-self: center;
  }
}
