<footer class="footer">
  <div class="creator">
    Created by
    <a
      class="colored"
      tuiLink
      href="https://github.com/reversoid"
      target="_blank"
      rel="noopener noreferrer"
      >reversoid</a
    >
  </div>

  <ul class="links">
    <li><a tuiLink routerLink="/support">Поддержка</a></li>
    <li><a tuiLink routerLink="/roadmap">Roadmap</a></li>
    <li>
      <a
        class="colored"
        tuiLink
        href="https://github.com/reversoid/moofy"
        target="_blank"
        rel="noopener noreferrer"
        >Github</a
      >
    </li>
  </ul>
</footer>
