@import '@taiga-ui/core/styles/taiga-ui-local.scss';

/* You can add global styles to this file, and also import other style files */
tui-root {
  height: 100%;

  .tui-autofill::after {
    border-color: transparent;
  }

  --tui-duration: 190ms !important;

  tui-dropdown {
    border: none !important;
  }

  tui-island {
    &::before {
      border: none !important;
    }

    background-color: var(--tui-base-02) !important;
  }

  tui-textarea {
    [tuiWrapper][data-appearance='textfield'][data-appearance='textfield']:after {
      color: transparent;
    }
  }
}

:root {
  --header-height: 76px;

  --tui-radius-m: 1rem;

  --tui-font-text-s: normal 1rem/1.5rem var(--tui-font-text);

  --tui-text_body-s: 0.875rem !important;
  --tui-text_body-s-2: 0.875rem !important;

  * {
    box-sizing: border-box;
  }
}

.tui-text_h1 {
  @media #{$tui-tablet} {
    font-size: 2.75rem;
    line-height: 3rem;
  }
  @media #{$tui-mobile} {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.tui-text_h2 {
}

.tui-text_h3 {
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;

  @media #{$tui-tablet} {
    font-size: 2rem;
    line-height: 2.25rem;
  }
  @media #{$tui-mobile} {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

h4 {
  @media #{$tui-tablet} {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  @media #{$tui-mobile} {
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
  }
}

.logo__letter {
  fill: var(--tui-text-01);
}

.logo__smile {
  stroke: var(--tui-text-01);
}

aside {
  margin-top: 76px; // TOOD make height of header

  .t-wrapper {
    flex-grow: 2;
  }
}
