/* You can add global styles to this file, and also import other style files */
tui-root {
  height: 100%;

  .tui-autofill::after {
    border-color: transparent;
  }

  --tui-duration: 190ms !important;

  tui-dropdown {
    border: none !important;
  }

  tui-island {
    &::before {
      border: none !important;
    }

    background-color: var(--tui-base-02) !important;
  }
}

:root {
  --tui-base-01: #0f0f0f !important;

  --tui-text-01: #fefefe !important;
  --tui-text-01-night: #fefefe !important;

  --tui-radius-m: 1rem;

  --tui-font-text-s: normal 1rem/1.5rem var(--tui-font-text);

  --tui-text_body-s: 0.875rem !important;
  --tui-text_body-s-2: 0.875rem !important;

  * {
    box-sizing: border-box;
  }
}
