<div class="collections-grid" [ngClass]="{ list: view === 'list', grid: view === 'grid' }">
  <a [routerLink]="['/collection', collection.id]" tuiLink>
    <app-collection
      [view]="view === 'list' ? 'horizontal' : 'vertical'"
      [collection]="collection"
      [hideDescription]="hideDescription"
    ></app-collection>
  </a>

  <a [routerLink]="['/collection', collection.id]" tuiLink>
    <app-collection
      [view]="view === 'list' ? 'horizontal' : 'vertical'"
      [collection]="collection"
      [hideDescription]="hideDescription"
    ></app-collection>
  </a>

  <a [routerLink]="['/collection', collection.id]" tuiLink>
    <app-collection
      [view]="view === 'list' ? 'horizontal' : 'vertical'"
      [collection]="collection"
      [hideDescription]="hideDescription"
    ></app-collection>
  </a>

  <a [routerLink]="['/collection', collection.id]" tuiLink>
    <app-collection
      [view]="view === 'list' ? 'horizontal' : 'vertical'"
      [collection]="collection"
      [hideDescription]="hideDescription"
    ></app-collection>
  </a>
</div>

<tui-loader *ngIf="loading" class="loader"></tui-loader>
