@import 'shared';

.collections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

  gap: 1rem;

  @media #{$tui-tablet} {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media #{$tui-mobile} {
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  @media screen and (max-width: 420px) {
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.loader {
  margin-top: 2rem;
}
