@import 'shared';

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@mixin contentHover() {
  opacity: 1;
}

@mixin imageHover() {
  filter: blur(2px);
}

.image-control-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.image-control {
  width: 10rem;
  height: 10rem;
  border-radius: var(--tui-radius-m);
  overflow: hidden;
  align-self: center;
  position: relative;
  background-color: var(--tui-base-02);

  & > .t-wrapper {
    background-color: none;
  }

  .loaded-image {
    transition-duration: var(--tui-duration);
    transition-property: filter;
    transition-timing-function: ease-in-out;

    z-index: 1;
    padding: 1px;
    border-radius: var(--tui-radius-m);

    &.blurred {
      opacity: 0.8;
      @include imageHover();
    }
  }

  .content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      width: 100%;
    }

    tui-marker-icon {
      // backdrop-filter: blur(4px);
      background-color: transparent;
      opacity: 0;
      transition: opacity var(--tui-duration) ease-in-out;
    }

    &.dragged {
      tui-marker-icon {
        @include contentHover();

        animation: 1s infinite alternate pulse;
      }
    }
  }

  &:hover .loaded-image {
    @include imageHover();
  }
  &:hover .content tui-marker-icon {
    @include contentHover();
  }
}

.submit-button {
  align-self: start;
  margin-top: 0.5rem;

  @media #{$tui-mobile} {
    align-self: stretch;
  }
}

.password {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .password-block-heading {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    h6 {
      margin: 0;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
