<h1 class="tui-text_h1">Настройки</h1>

<form (submit)="save()" [formGroup]="settingsForm" class="settings-form">
  <tui-input-files class="image-control" formControlName="imageUrl">
    <ng-template let-dragged>
      <img
        [class.dragged]="dragged"
        class="loaded-image"
        ngSrc="https://moofy.storage.yandexcloud.net/profile-images/be3b783c-3ab6-48f2-864d-3b81bd9612fd.webp"
        fill
      />
      <div class="content" [class.dragged]="dragged">
        <tui-marker-icon
          class="uploadIcon"
          mode="white"
          size="l"
          src="tuiIconUploadCloudLarge"
        ></tui-marker-icon>
      </div>
    </ng-template>
  </tui-input-files>

  <tui-input
    formControlName="username"
    [tuiHintContent]="[] | tuiFieldErrorContent"
    tuiHintAppearance="error"
  >
    Имя пользователя
    <input tuiTextfield />
  </tui-input>

  <tui-textarea
    formControlName="description"
    [tuiHintContent]="[] | tuiFieldErrorContent"
    tuiHintAppearance="error"
  >
    Описание
  </tui-textarea>

  <div formGroupName="password" class="password">
    <div class="password-block-heading">
      <h6 class="tui-text_h6">Изменение пароля</h6>

      <tui-tooltip
        *ngIf="passwordChangeErrors"
        [content]="passwordChangeErrors"
        appearance="error"
      ></tui-tooltip>
    </div>

    <tui-input formControlName="old">
      Старый пароль
      <input tuiTextfield />
    </tui-input>

    <tui-input formControlName="new">
      Новый пароль
      <input tuiTextfield />
    </tui-input>
  </div>

  <button
    type="submit"
    [showLoader]="submitting()"
    [disabled]="!canSave"
    class="submit-button"
    tuiButton
  >
    Сохранить
  </button>
</form>
