@import 'shared';

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-color: rgb(57, 57, 57);
  align-self: center;
  margin-bottom: 0.5rem;
}

.submit-button {
  align-self: start;
  margin-top: 0.5rem;

  @media #{$tui-mobile} {
    align-self: stretch;
  }
}

.password {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .password-block-heading {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    h6 {
      margin: 0;
    }
  }
}
