<h1 class="tui-text_h1">Поиск</h1>
<tui-tabs [(activeItemIndex)]="activeItemIndex">
  <a tuiTab routerLink="/explore/profiles" routerLinkActive
    ><tui-svg src="tuiIconUserLarge" class="tui-space_right-2"></tui-svg> Пользователи
  </a>
  <a tuiTab routerLink="/explore/collections" routerLinkActive
    ><tui-svg src="tuiIconGridLarge" class="tui-space_right-2"></tui-svg> Коллекции
  </a>
</tui-tabs>

<tui-input
  [tuiTextfieldLabelOutside]="true"
  class="tui-space_top-5"
  tuiTextfieldIconLeft="tuiIconSearchLarge"
  [tuiTextfieldCleaner]="true"
>
  Поиск
  <input tuiTextfield role="search" />
</tui-input>

<router-outlet></router-outlet>
