<h1 class="tui-text_h1">Поиск</h1>

<div class="layout">
  <div class="sidebar">
    <tui-island class="options">
      <tui-input
        [tuiTextfieldLabelOutside]="true"
        class="search"
        tuiTextfieldIconLeft="tuiIconSearchLarge"
        [tuiTextfieldCleaner]="true"
      >
        Поиск
        <input tuiTextfield role="search" />
      </tui-input>

      <b>Что искать</b>
      <div class="search-object">
        <tui-radio-labeled size="l">Пользователи</tui-radio-labeled>
        <tui-radio-labeled size="l">Коллекции</tui-radio-labeled>
      </div>
    </tui-island>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
