@import 'shared';

.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;

  @media #{$tui-tablet} {
    grid-template-columns: 1fr 2fr;
  }

  @media #{$tui-mobile} {
    grid-template-columns: 1fr;
  }
}

.search {
  margin-bottom: 1.25rem;

  @media #{$tui-mobile} {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

.search-object {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.75rem;
}

.radio-block {
  @media #{$tui-mobile} {
    display: none;
  }

  &.mobile {
    display: none;
    @media #{$tui-mobile} {
      display: block;
    }
  }
}
