<h1 class="tui-text_h1">Поиск</h1>

<div class="layout">
  <div class="sidebar">
    <tui-island>
      <form [formGroup]="exploreOptionsForm" class="options">
        <tui-input
          [tuiTextfieldLabelOutside]="true"
          class="search"
          tuiTextfieldIconLeft="tuiIconSearchLarge"
          [tuiTextfieldCleaner]="true"
          formControlName="search"
        >
          Поиск
          <input tuiTextfield role="search" />
        </tui-input>

        <strong>Что искать</strong>
        <div class="search-object">
          <tui-radio-labeled
            *ngFor="let item of searchObjects"
            formControlName="searchObject"
            size="l"
            [item]="item.value"
            >{{ item.label }}</tui-radio-labeled
          >
        </div>
      </form>
    </tui-island>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
