<h1 class="tui-text_h1">Поиск</h1>

<div class="layout">
  <div class="sidebar">
    <tui-island>
      <form [formGroup]="exploreOptionsForm" class="options">
        <tui-input
          [tuiTextfieldLabelOutside]="true"
          class="search"
          tuiTextfieldIconLeft="tuiIconSearchLarge"
          [tuiTextfieldCleaner]="true"
          formControlName="search"
        >
          Поиск
          <input tuiTextfield role="search" />
        </tui-input>

        <div class="radio-block">
          <strong>Что искать</strong>
          <div class="search-object">
            <tui-radio-labeled
              *ngFor="let item of searchObjects"
              formControlName="searchObject"
              size="l"
              [item]="item.value"
              >{{ item.label }}</tui-radio-labeled
            >
          </div>
        </div>

        <div class="radio-block mobile">
          <div tuiGroup class="group" [collapsed]="true">
            <tui-radio-block
              *ngFor="let item of searchObjects"
              [hideRadio]="true"
              formControlName="searchObject"
              [item]="item.value"
              size="m"
            >
              {{ item.label }}
            </tui-radio-block>
          </div>
        </div>
      </form>
    </tui-island>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
