h1 {
  text-align: center;
}

p {
  text-align: center;
}

.options {
  display: grid;
  margin-top: 2rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  h3 {
    text-align: center;
  }

  tui-island {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
  }
}
