<h1 class="tui-text_h1">Настройки объединения</h1>

<form>
  <tui-island class="form-block">
    <h2 class="tui-text_h4">Какие обзоры выбирать?</h2>

    <tui-radio-list size="l" [itemContent]="radioItem" [items]="whatReviews"></tui-radio-list>
  </tui-island>

  <tui-island class="form-block">
    <h2 class="tui-text_h4">Что делать с обзорами?</h2>

    <tui-radio-list size="l" [itemContent]="radioItem" [items]="reviewOptions"></tui-radio-list>
  </tui-island>

  <tui-island class="form-block">
    <h2 class="tui-text_h4">Что делать с объединенными коллекциями?</h2>

    <tui-radio-list size="l" [itemContent]="radioItem" [items]="items"></tui-radio-list>
  </tui-island>
</form>

<ng-template #radioItem let-data>
  <div>{{ data.name }}</div>
  <div [ngClass]="data.mood" class="description">
    {{ data.description }}
  </div>
</ng-template>

<button class="submit-button" tuiButton>Продолжить</button>
