<h1 class="tui-text_h1">Настройки объединения</h1>

<form (ngSubmit)="submitForm()" [formGroup]="form" id="combine-options-form">
  <tui-island class="form-block">
    <h2 class="tui-text_h4">Какие обзоры выбирать?</h2>

    <div class="radio-group">
      <tui-radio-labeled
        *ngFor="let o of reviewsToPickOptions"
        [item]="o.id"
        formControlName="reviewsToPick"
        size="l"
      >
        <app-radio-content
          [name]="o.name"
          [description]="o.description"
          [mood]="o.mood"
        ></app-radio-content>
      </tui-radio-labeled>
    </div>
  </tui-island>

  <tui-island class="form-block">
    <h2 class="tui-text_h4">Что делать с обзорами?</h2>

    <div class="radio-group">
      <tui-radio-labeled
        *ngFor="let o of reviewsStrategyOptions"
        [item]="o.id"
        formControlName="reviewsStrategy"
        size="l"
      >
        <app-radio-content
          [name]="o.name"
          [description]="o.description"
          [mood]="o.mood"
        ></app-radio-content>
      </tui-radio-labeled>
    </div>
  </tui-island>

  <tui-island class="form-block">
    <h2 class="tui-text_h4">Что делать с объединенными коллекциями?</h2>
    <div class="radio-group">
      <tui-radio-labeled
        *ngFor="let o of collectionsStrategyOptions"
        [item]="o.id"
        [pseudoDisabled]="o.id === 'REMOVE_EMPTY' && isSelectedCopyReviewsStrategy"
        formControlName="collectionsStrategy"
        size="l"
      >
        <app-radio-content
          [name]="o.name"
          [description]="o.description"
          [mood]="o.mood"
        ></app-radio-content>
      </tui-radio-labeled>
    </div>
  </tui-island>
</form>

<button type="submit" form="combine-options-form" class="submit-button" tuiButton>
  Продолжить
</button>
