<h1 class="tui-text_h1">Выберите коллекции для объединения</h1>

<div class="collections">
  <tui-checkbox-block size="l">
    <app-collection [view]="'horizontal'" [collection]="collection"></app-collection>
  </tui-checkbox-block>

  <tui-checkbox-block size="l">
    <app-collection [view]="'horizontal'" [collection]="collection"></app-collection>
  </tui-checkbox-block>
</div>

<div *ngIf="isSelected" class="next-container">
  <a routerLink="../combine-options" tuiButton>Продолжить</a>
</div>
