<h1 class="tui-text_h1">Roadmap</h1>

<p>Эта страница посвящена дорожной карте развития нашего проекта</p>

<h2 class="tui-text_h3">Улучшенная лента</h2>
<p>Новый дизайн ленты. Можно будет видеть не только обновленные коллекции, но и новые обзоры.</p>

<h2 class="tui-text_h3">Рекомендации к просмотру</h2>
<p>Алгоритм, основанный на предпочтениях, который предложит пользователю фильмы к просмотру</p>

<h2 class="tui-text_h3">Рекомендации к групповому просмотру</h2>
<p>
  Алгоритм, основанный на предпочтениях, который предложит группе пользователей фильмы к просмотру.
</p>
