<ng-container *ngIf="paginatedReviews">
  <div class="review-list">
    <app-review *ngFor="let review of paginatedReviews?.items" [review]="review">
      <button
        action
        (click)="openEditReviewDialog(review)"
        tuiIconButton
        appearance="secondary"
        size="s"
        icon="tuiIconSettings"
      ></button>
    </app-review>

    <app-review *ngIf="showSkeleton"></app-review>
  </div>

  <app-intersection-loader
    [loadMoreKey]="paginatedReviews.nextKey"
    (loadMore)="handleLoadMore()"
  ></app-intersection-loader>
</ng-container>
