<header class="header">
  <div class="logo-with-content">
    <app-logo></app-logo>
  </div>

  <div class="controls">
    <div class="header-links">
      <a routerLink="/" tuiLink icon="tuiIconFilmLarge" iconAlign="left">Лента</a>
      <a routerLink="/welcome" tuiLink icon="tuiIconCoffeeLarge" iconAlign="left">Мои коллекции</a>
    </div>

    <app-theme-toggler></app-theme-toggler>
    <app-profile-button></app-profile-button>

    <app-burger-menu [(sidebarOpen)]="sidebarOpen">
      <app-sidebar *tuiSidebar="sidebarOpen; direction: 'right'"></app-sidebar>
    </app-burger-menu>
  </div>
</header>
