:host {
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 76px;
  align-items: center;

  .controls {
    display: flex;
    align-items: center;
    .profile-image {
      border-radius: 50%;
    }
  }
}
