<header class="header">
  <img ngSrc="/assets/logo.svg" width="128" height="64" priority />

  <div class="controls">
    <button
      class="profile-button"
      tuiIconButton
      appearance="mono"
      type="button"
      [tuiDropdown]="dropdownContent"
      [tuiDropdownManual]="dropdownOpen"
      (click)="onClick()"
      (tuiActiveZoneChange)="onActiveZone($event)"
      (tuiObscured)="onObscured($event)"
    >
      <img
        class="profile-image"
        ngSrc="https://moofy.storage.yandexcloud.net/profile-images/be3b783c-3ab6-48f2-864d-3b81bd9612fd.webp"
        width="48"
        height="48"
      />
      <ng-template #dropdownContent>
        <div class="dropdown">But there is nothing to choose...</div>
      </ng-template>
    </button>
  </div>

  <!-- TODO make more straight -->
  <button
    (click)="toggle()"
    [ngClass]="sidebarOpen ? 'open-menu' : 'close-menu'"
    class="menu-burger"
    type="button"
  >
    <span></span>

    <div class="sidebar" *tuiSidebar="sidebarOpen; direction: 'right'">hello there</div>
  </button>
</header>
