@import 'shared';

app-logo {
  display: block;
  width: 128px;
  height: 64px;
}

:host {
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  height: var(--header-height);
  align-items: center;

  .logo-with-content {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 1rem;

    .header-links {
      display: flex;
      align-items: center;
      flex-grow: 2;
      gap: 0.5rem;
      background: var(--tui-elevation-02) !important;
      justify-content: flex-end;

      padding: 0.375rem;
      box-sizing: border-box;
      height: 3.5rem;
      @include hide-mobile;

      a {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        font: var(--tui-font-text-l);
        font-weight: 500;
      }

      .search-input {
        flex-grow: 2;
      }
    }
  }
}

app-burger-menu {
  @include show-mobile(block);
}
