// TODO can be simplified?
@import '@taiga-ui/core/styles/taiga-ui-local.scss';

app-logo {
  display: block;
  width: 128px;
  height: 64px;
}

:host {
  display: flex;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 76px; // TODO use variable
  align-items: center;

  .logo-with-content {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .header-links {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    // TODO use hide-mobile
    @media #{$tui-mobile} {
      display: none;
    }

    a {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      font: var(--tui-font-text-l);
      font-weight: 500;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}
