@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/lora-v20-latin-500.eot'); /* IE9 Compat Modes */
	src:
		local(''),
		url('/fonts/lora-v20-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/lora-v20-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/lora-v20-latin-500.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/lora-v20-latin-500.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/lora-v20-latin-500.svg#Lora') format('svg'); /* Legacy iOS */
}

/* TODO something like this */
