@font-face {
	font-family: Geist;
	font-style: normal;
	font-weight: 400;
	/* TODO what about otf? Learn */
	src:
		local(''),
		url('/fonts/geist/webfonts/Geist-Regular.woff2') format('woff2'),
		url('/fonts/geist/ttf/Geist-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Geist;
	font-style: normal;
	font-weight: 500;
	src:
		local(''),
		url('/fonts/geist/webfonts/Geist-Semibold.woff2') format('woff2'),
		url('/fonts/geist/ttf/Geist-Semibold.ttf') format('truetype');
}

@font-face {
	font-family: Geist;
	font-style: normal;
	font-weight: 600;
	src:
		local(''),
		url('/fonts/geist/webfonts/Geist-Bold.woff2') format('woff2'),
		url('/fonts/geist/ttf/Geist-Bold.ttf') format('truetype');
}

/* TODO what about black, extrabold, thin etc? */
