<!-- <ng-container *ngIf="emptyNotifications(); else showNotifications"
  ><p class="empty-placeholder">Список уведомлений пуст</p>
</ng-container> -->

<div class="tui-space_top-5 controls">
  <app-notifications-shown-select
    [(selectedOption)]="selectedOption"
  ></app-notifications-shown-select>
</div>

<div class="notifications tui-space_top-3">
  <app-notification></app-notification>
  <app-notification></app-notification>
  <app-notification></app-notification>
  <app-notification></app-notification>
</div>

<ng-template #showNotifications>
  <ng-container *ngIf="notificationsItems() as notifications">
    <div class="notifications tui-space_top-3">
      <app-notification></app-notification>

      <!-- <app-notification *ngFor="let n of notifications" [notification]="n"></app-notification> -->
    </div>

    <div *ngIf="loadKey() as key" class="load-more-container">
      <button (click)="loadNotifications(key)" tuiButton size="m">Загрузить больше</button>
    </div>
  </ng-container>
</ng-template>
